body {
  background-color: #CFC9C7; }

#addForm {
  background-color: #3E3E3C;
  color: white;
  margin-left: 3em;
  width: 25%;
  text-align: center;
  padding: 3em 0; }
  #addForm > div {
    padding-top: 1em; }

table {
  text-align: center; }

.rowBorder {
  border: 2px solid black;
  padding: 0.5em 0.5em; }

.title {
  padding: .5em 0;
  text-align: center;
  font-size: 3em;
  font-family: futura; }
